<!DOCTYPE html>
<html>
<head>
  <title>CarService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="TOBEDONE!!!!!">
  <%= link_to 'New Client', new_user_path, class: "btn btn-primary" %>
  <%= link_to 'New Car', new_car_path, class: "btn btn-primary" %>
  <%= link_to 'New Rental', new_rental_path, class: "btn btn-primary" %>
  <%= form_tag cars_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
</div>
<%= yield %>

</body>
</html>
