 <%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>New Car</h1>


  <div class="field">
    <%= f.label :brand, :class=>'label' %><br>
    <%= f.text_area :brand, :class=>'text_form' %>
  </div>
  <div class="field">
    <%= f.label :model, :class=>'label' %><br>
    <%= f.text_area :model, :class=>'text_form' %>
  </div>  
   <div class="field">
    <%= f.label :production_year, :class=>'label' %><br>
    <%= f.text_area :production_year, :class=>'text_form' %>
  </div>  
  <div class="field">
    <%= f.label :mileage, :class=>'label' %><br>
    <%= f.text_area :mileage, :class=>'text_form' %>

  </div>  
  <div class="actions">
    <%= f.submit :class=>'submit' %>
  </div>
<% end %>
