<h1>Log in</h1>
<h3>username is admin and password is admin1</h3>
<%= form_tag sessions_path do %>

  <div class="field">
    <%= label_tag :login %><br>
    <%= text_area_tag :login %>
  </div>
    <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %> </div>
  <% end %>