<h1>Users Index</h1>


<table border="1" >

  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>E-mail</th>
    </tr>
    
  </thead>
  <tbody>
    <% @users.each_with_index do |users, index| %>       
    <tr>
      <td><%= index+1 %></td>
      <td><%= users.name %></td>
      <td><%= users.surname %></td>
      <td><%= users.email %></td>
      <td><%= link_to 'Edit', edit_user_path(users) %></td>
      <td><%= link_to 'Destroy', user_path(users), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>     
    <% end %>
  </tbody>
</table>

